.ofertas_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card_ofertas {
    background-color: #505050;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
    width: 100%; 
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: bold;
    color: #FFFFFF
}

.header p {
    margin: 5px 0 0;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: lighter;
    color: #FFFFFF
}

.icono {
    width: 10vw;
    margin-right: 10px;
    border-radius: 50%; 
    border: 1px solid #000000;
}

@media screen and (max-width: 382px) {
    .icono {
        width: 20vw; /* Cambia el tamaño de la imagen para pantallas más pequeñas */
    }
}

@media screen and (min-width: 900px) {
    .icono {
        width: 10vw; /* Cambia el tamaño de la imagen para pantallas más pequeñas */
    }
}

.text {
    display: flex;
    flex-direction: column; /*el texto esté vertical*/
}

.text h2 {
    margin: 0;
}

.text p {
    margin-top: 5px;
}

.content {
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: lighter;
    color: #FFFFFF;
}

.content h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: 'Inter';
    font-weight: bold;
    color: #FFA630;
}

.content ul {
    /* Elimina el margen alrededor de la lista */
    margin: 0px;
    margin-bottom: 3px;
    padding-right: 5px; /* Elimina el relleno alrededor de la lista */
}

.info {
    margin-top: 35px;
    font-family: 'Inter';
}

.info p {
    margin: 0;
}

.info h3 {
    margin-top: 30px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

.actions button {
    padding: 30px 33px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.close-btn {
    background-color: #dc3545;
    color: white;
}

.favorite-btn {
    background-color: #FFA630;
}